Source: ros-melodic-foxglove-msgs
Section: misc
Priority: optional
Maintainer: Foxglove <ros-tooling@foxglove.dev>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-geometry-msgs, ros-melodic-message-generation, ros-melodic-ros-environment, ros-melodic-visualization-msgs
Homepage: https://foxglove.dev/
Standards-Version: 3.9.2

Package: ros-melodic-foxglove-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-geometry-msgs, ros-melodic-message-runtime, ros-melodic-visualization-msgs
Description: foxglove_msgs provides visualization messages that are supported by Foxglove Studio.
